a {
    text-decoration: none;
    color: #999;
    margin-right: 20px;
}
a:hover {
    color: #333;
}
nav {
    margin: 2em;
    text-align: center;
    font-family: Arial;
}
.active {
    font-size: 50px;
}

main {
    text-align: center;
    width: 50%;
}