body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #999;
    margin-right: 40px;
}
a:not(.active) {
    padding: 20px;
}
a:hover {
    color: #333;
}
nav {
    margin: 2em;
    text-align: center;
    font-family: Arial;
    background-color: lightblue;
}
.active {
    font-size: 50px;
    color: black;
}

main {
    margin: auto;
    text-align: center;
    width: 50%;
}